<!DOCTYPE html>

<html>

  <head>
    <title>{% block title %}Contributors{% endblock %}</title>
    <style>
      .nav {
        display: flex;
        justify-content: space-between;
      }
    </style>
    {% block style %}
    {% endblock %}
  </head>

  <body>
    <div class="nav">
      <div class="nav-left">
        <a href="">Teams</a>
        <a href="">Projects</a>
        <a href="{{ url_for('get_issues') }}">Issues</a>
        {% block nav_left %}
        {% endblock %}
      </div>
      <div class="nav-center">
        {% block nav_center %}
        {% endblock %}
      </div>
      <div class="nav-right">
        {% block nav_right %}
        {% endblock %}
        {% if user %}
        <a href="{{ url_for('logout_get') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login_get') }}">Login</a>
        {% endif %}
      </div>
    </div>

    {% block body %}
    {% endblock %}

    {% block script %}
    {% endblock %}
  </body>

  <footer>
  </footer>

</html>