{% extends 'base.html' %}


<!--

    on the left side we're listing the issues
    - grouped by projects / or by a custom group

    on the right side we're displaying the issues data

    We also gonna need a form to create / add an issue
    - on creating the issues we're going the get the tags and labels
    - from the source that this issues is posted
        - if it is from a code "posting" platform
        - or we let the user who created this issues add the tags and labels too

    Matching Tags (issues, users) will be hightlighted


{ block list
    { block issue (one block)
        - title
        - tags (can be limited)
    }
    e.g
        Can't set the cookies
        [#python] [#fastapi] [#cookies] ...
}


[ projects      [ issues    [ issue
                |           |   { BLOCK }
                |           |
                ]           ]       Chat]
-->



<!-- v0.1.0

- [ ] Just list the created / added issues
  - [x] list added
  - [ ] list created

-->


{% block nav_center %}
  {% if user %}
  <a href="{{ url_for('get_issues_new') }}">New Issue</a>
  {% endif %}
{% endblock %}


{% block body %}
<div class="container">
  {% if error_message %}
  <h5 style="margin-bottom: 0px;">{{ error_message }}</h5>
  {% endif %}
  {% for issue in issues %}
  <p>
    {{ issue.title }}</br>
    {% for tag in issue.tags %}
    {% if user and tag in user.tags %}
    <span class="tag-hl">{{ tag }}</span>
    {% else %}
    <span class="tag-hl">{{ tag }}</span>
    {% endif %}
    {% endfor %}
  </p>
  {% endfor %}
</div>
{% endblock %}