{% extends 'base.html' %}


<!--

    on the left side we're listing the issues
    - grouped by projects / or by a custom group

    on the right side we're displaying the issues data

    We also gonna need a form to create / add an issue
    - on creating the issues we're going the get the tags and labels
    - from the source that this issues is posted
        - if it is from a code "posting" platform
        - or we let the user who created this issues add the tags and labels too

    Matching Tags (issues, users) will be hightlighted


{ block list
    { block issue (one block)
        - title
        - tags (can be limited)
    }
    e.g
        Can't set the cookies
        [#python] [#fastapi] [#cookies] ...
}


[ projects      [ issues    [ issue
                |           |   { BLOCK }
                |           |
                ]           ]       Chat]
-->



<!-- v0.1.0

- [x] Just list the created / added issues

-->


{% block nav_center %}
  {% if user %}
  <a href="{{ url_for('get_issues_new') }}">New Issue</a>
  {% endif %}
{% endblock %}


{% block body %}
<div class="container" style="display: flex;">
  {% if error_message %}
  <h5 style="margin-bottom: 0px;">{{ error_message }}</h5>
  {% endif %}
  <div class="projects"></div>
  <div class="issues">
    <ul>
      {% for issue in issues %}
      <li onclick="openIssuesData(this, '{{ issue.id }}');">
        {{ issue.title }}</br>
        {% for tag in issue.categories.tags %}
        {% if user and tag in user.tags %}
        <span class="tag-hl">#{{ tag }}</span>
        {% else %}
        <span class="tag-hl">#{{ tag }}</span>
        {% endif %}
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="issues-data">
    {% for issue in issues %}
    <div id="issues-{{ issue.id }}-data" style="display: none;">
      <p><a href="{{ issue.url }}">{{ issue.url }}</a></p>
      <p>{{ issue.title }} </p>
      {% if issue.description %}
      <p>{{ issue.description }}</p>
      {% endif %}
      <p>
        {% for tag in issue.categories.tags %}
        {% if user and tag in user.tags %}
        <span class="tag-hl">#{{ tag }}</span>
        {% else %}
        <span class="tag-hl">#{{ tag }}</span>
        {% endif %}
        {% endfor %}
      </p>
      <p>
        {% for label in issue.categories.labels %}
        <span>{{ label }}</span>
        {% endfor %}
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block script %}
<script>
  var prevIssue = null;
  var prevIssueData = null;
  function openIssuesData(issue, issueId) {
    if (prevIssue !== null) {
      prevIssue.style.border = "";
    }
    if (prevIssueData !== null) {
      prevIssueData.style.display = "none";
    }
    const issueData = document.getElementById("issues-" + issueId + "-data");
    issue.style.border = "1px solid palegreen";
    issueData.style.display = "";
    prevIssue = issue;
    prevIssueData = issueData;
  }
</script>
{% endblock %}